#middle{height: auto;}
.clear-float{
    zoom:1;
}
.clear-float:after{
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
    height: 0px;
}
#middle #localnavi{width: 173px;height: 600px;padding-left: 31px;padding-bottom: 32px;float: left;background-image: url('../img/bg_lnav_shadow.png');background-repeat:no-repeat;margin-right: 36px;}
#middle #localnavi .root{width: 173px;height: 25px;background-color: #0a0a0a;font-size: 15px;}
#middle #localnavi .root a{display: block;padding-top: 3px;padding-left: 38px; color: #fff;letter-spacing: 10px;}
#middle #localnavi .root a:hover{background-color: #5c5b5b;}
#middle #localnavi .trunk{width: 173px;height: 23px;margin-top: 8px;letter-spacing: 8px;}
#middle #localnavi .trunk a{display: block;color: #000000;font-size: 14px;padding-left: 30px;background-image: url('../img/bg_li.png');background-repeat:no-repeat;color: #fff;}
#middle #localnavi .trunk a:hover{color: #000;}
#middle #maincontents{width:730px;padding-bottom: 32px;float: left;}
#middle #maincontents .txt{width:712px;background-image: url('../img/bg_h2.png');background-repeat: no-repeat;height: 30px;margin-top: 27px;margin-bottom: 15px;padding-left: 18px;letter-spacing: 12px;}
#middle #maincontents h3.promain{ background: url('../img/bg_h3.png'); font-weight: bold;font-size: 1.2em;padding:3px 0 3px 18px;margin-top: 8px;}
#middle #maincontents ul{margin-top: 6px;}
#middle #maincontents li{background: #d0d0d0;width:238px; float: left;margin:3px 2px 0 2px; }
#middle #maincontents img{width: 238px;height: 178px; overflow: hidden;}
#middle #maincontents  p{padding-left:10px;}